body{
    background-color: #161512;
}


/* Title */
h1{
  color:white;
   text-align: center;
   max-width: max-content;
   margin:7rem auto 1rem;


}
.logotitle{
  text-decoration: none;
}



/* Card-Login-Section */

.card-subtitle{
  margin-top: 1rem;
}
.card{
    position: relative;
    top:3rem;
    margin: 0 auto 10%;
    padding:5% 3%;
    background-color:  #262421;
    width: 35rem; 
    border-radius: 15px;
    
}
.card-title{
    text-align: center;
    font-size: 200%;
    color: white;
    margin-bottom: 10%;
}
@media (max-width:768px)and (min-width:668px){
  .card{
    position: relative;
    top:3rem;
    margin: 0 auto 15%;
    padding:5% 3%;
    background-color:  #262421;
    width: 30rem; 
    border-radius: 15px;
    
}
}
@media (max-width:667px)and (min-width:567px){
  .card{
    position: relative;
    top:3rem;
    margin: 0 auto 15%;
    padding:5% 3%;
    background-color:  #262421;
    width: 25rem; 
    border-radius: 15px;
    
}
}
@media (max-width:566px)and (min-width:466px){
  .card{
    position: relative;
    top:3rem;
    margin: 0 auto 15%;
    padding:5% 3%;
    background-color:  #262421;
    width: 22rem; 
    border-radius: 15px;
    
}
.card-title{
  text-align: center;
  font-size: 170%;
  color: white;
  margin-bottom: 10%;
}
}
@media (max-width:465px)and (min-width:365px){
  .card{
    position: relative;
    top:3rem;
    margin: 0 auto 20%;
    padding:5% 3%;
    background-color:  #262421;
    width: 19rem; 
    border-radius: 15px;
    
}
.card-title{
  text-align: center;
  font-size: 140%;
  color: white;
  margin-bottom: 10%;
}
.card-subtitle{
  font-size: 80%;
}
.form-control{
  font-size: 80%;
}
.login-button{
  font-size: 80%;
}

}
@media (max-width:364px)and (min-width:264px){
  .card{
    position: relative;
    top:3rem;
    margin: 0 auto 25%;
    padding:5% 3%;
    background-color:  #262421;
    width: 15rem; 
    border-radius: 15px;
    
}
.card-title{
  text-align: center;
  font-size: 120%;
  color: white;
  margin-bottom: 10%;
}
.card-subtitle{
  font-size: 60%;
}
.form-control{
  font-size: 60%;
}
.login-button{
  font-size: 60%;
}
}




/* Login-Button */
.login-button{
  margin-top: 8%;
  padding:1%;

}